<div class="container">
    <form action="/api/sessions/forget_password" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mt-3 mb-3 row">
            <label class="form-label col-auto" for="_email">Email:</label>
            <input class="form-control col" type="email" name="email" id="_email" />
        </div>        
        <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Restablecer Contraseña</button>
        </div>
    </form>
</div>